---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro'

import {SITE_TITLE, SITE_DESCRIPTION} from '../constants'

interface Props {
    title: string;
}

const {title, description} = Astro.props;

interface Props {
    description?: string;
}
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content=`${SITE_DESCRIPTION} | ${description}` />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{SITE_TITLE} | {title}</title>
    </head>
    <body class="lg:px-0">
        <NavBar />
		<slot />
		<Footer />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" ></script>
    </body>
</html>